/* Var Color Base Define For All Elements */
:root {
  --green-color: #00d170;
  --white-color: #fff;
  --text-color: #4a4a4a;
  --bg-color: #21aa58;
  --gray-color: #f2f5f8;
}

/* Tarif Font Face */
@font-face {
  font-family: "IRANSansWeb";
  src: url("assets/fonts/IRANSansWeb_Light.woff") format(woff);
  font-weight: normal;
  font-style: normal;

  /* baray waghti ke mororgar font ra load nakonad yek font jaygozin mororgar namayesh midahad */
  font-display: swap;
}

@font-face {
  font-family: "IRANSansWebMedium";
  src: url("assets/fonts/IRANSansWeb_Medium.woff") format(woff);
  font-weight: normal;
  font-style: normal;

  /* baray waghti ke mororgar font ra load nakonad yek font jaygozin mororgar namayesh midahad */
  font-display: swap;
}

@font-face {
  font-family: "IRANSansWebBold";
  src: url("assets/fonts/IRANSansWeb_Bold.woff") format(woff);
  font-weight: normal;
  font-style: normal;

  /* baray waghti ke mororgar font ra load nakonad yek font jaygozin mororgar namayesh midahad */
  font-display: swap;
}

/* Moarefi Font Face Be Body */
* {
  font-family: "IRANSansWeb";
  direction: rtl;
}

/* Baray Hazf Hashiyeha */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  height: 100%;
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
  background-color: var(--white-color);
  color: var(--white-color);
  width: 90%;
  height: auto;
  margin: auto;
}

i {
  transition: transform 0.5s ease;
}

/* Baray Hazf Link Dephalt */
ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
  color: var(--text-color);
  font-size: 0.95rem;
  font-weight: 300;
}

.nav {
  display: flex;
  gap: 2rem;
  height: 96px;
}

.maincat {
  position: relative;
  padding: 1rem 0;
}

.ulnav {
  display: flex;
  gap: 2rem;
}

.subcat {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 3.45rem;
  left: -5%;
  background-color: var(--white-color);
  width: 110%;
  border-radius: 15px;
}

.subcat li {
  padding: 0.75rem;
}

.maincat:hover .subcat {
  display: flex;
}

/* Charkhesh Arrow */
.html:hover .html-chevron,
.maincat:hover .maincat-chevron {
  transform: rotate(-180deg);
}

.BlogTitle,
.OrgPanelTitle,
.DriverTitle,
.RegisterTitle {
  display: flex;
  margin: auto;
  padding: 15px 0;
}

header {
  width: auto;
  height: 96px;
}

.subcat li a:hover {
  color: var(--green-color);
}

.introimage {
  width: 50%;
  height: auto;
}

.mobile {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--white-color);
  background-color: transparent;
  color: var(--white-color);
  font-family: "IRANSansWeb";
  /* Baray inke bad click border nandaze*/
  outline: none;
}

.mobile:placeholder-shown {
  /* Set Background dot For input */
  padding-left: 25px;
  background: url("assets/svg/dot.svg") no-repeat left;
  background-size: 7px;
}
.mobile:focus-visible {
  padding-left: 25px;
  background: url("assets/svg/colse.svg") no-repeat left;
  background-size: 22px;
}

.headmain {
  background-color: var(--bg-color);
  display: flex;
}

.headtitle,
.ptitle {
  color: var(--white-color);
  padding: 20px;
}

.introtext {
  padding: 20px;
  margin-right: 100px;
}

.loginwebbtn,
.formcategory,
.linkbtn,
.loginwebbtn {
  margin-top: 20px;
  margin-right: 20px;
}

.linkbtn {
  border: none;
  color: var(--bg-color);
  background-color: var(--white-color);
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bolder;
}

.linkbtn:hover {
  cursor: pointer;
}

.loginwebbtn {
  border: solid;
  border-width: 1px;
  border-color: var(--white-color);
  border-radius: 5px;
  background-color: var(--bg-color);
  color: var(--white-color);
  padding: 5px 20px;
  font-size: 1em;
}

.loginwebbtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

input::-webkit-input-placeholder {
  color: var(--white-color);
}
input:-moz-placeholder {
  color: var(--white-color);
}

.icons {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 60px 10px;
}

.icoapple,
.icowebapp,
.icomyket,
.icobazar,
.icoandroid {
  width: 210px;
  height: auto;
  padding: 5px 20px;
  cursor: pointer;
}

.item {
  display: flex;
  padding: 12px;
  background-color: var(--white-color);
  border-radius: 15px;
}

.squreicon {
  width: 62px;
  height: 62px;
  /* padding: 5px; */
}

.itemdes,
.titleitem {
  /* padding: 5px; */
  color: var(--text-color);
}

.itemdes {
  opacity: 0.7;
}

.titleitem {
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  gap: 30px;
  /* box-sizing: border-box; */
  padding: 5px;
  margin: auto;
  justify-content: center;
  background-color: var(--gray-color);
}

.grid-item {
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 20px;
}

.gridtitle {
  font-family: "IRANSansWebBold";
  text-align: center;
  font-weight: bold;
  color: var(--text-color);
  background-color: var(--gray-color);
  padding: 15px;
}

/* slideshow */
*{box-sizing: border-box; -webkit-box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; font: 16px/1.3 sans-serif; }

/*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
http://stackoverflow.com/a/34696029/383904
*/

.CSSgal {
	position: relative;
	overflow: hidden;
	height: 100%; /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

*{box-sizing: border-box; -webkit-box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; font: 16px/1.3 sans-serif; }

/*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
http://stackoverflow.com/a/34696029/383904
*/

.CSSgal {
	position: relative;
	overflow: hidden;
	height: 100%; /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

.CSSgal .prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
	background: #fff;
	position: absolute;
	width:       60px;
	height:      60px;
	line-height: 60px; /* If you want to place numbers */
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.CSSgal .prevNext a:hover {
	opacity: 1;
}
.CSSgal .prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.CSSgal .bullets > a {
	display: inline-block;
	width:       30px;
	height:      30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
.CSSgal .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal{
	color: #fff;	
	text-align: center;
}
.CSSgal .slider h2 {
	margin-top: 40vh;
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.2em;
	font-size: 3em;
}
.CSSgal a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}





.image-slideshow {
	width: 600px;
    height: 300px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    position: relative;
}
.image-slideshow > div {
	width: 600px;
    height: 300px;
	animation: move 15s ease-in-out 2s infinite alternate;
    display:inline-block;
}
.image-slideshow > div div {
	position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    width: 100%;
}
.image-slideshow h2 {
	padding: 15px;
    margin: 0;
    font-size: 18px;
    color: #f9f9f9;
}
.image-slideshow p {
	padding: 0 15px 15px 15px;
    margin: 0;
    font-size: 14px;
    color: #dddddd;
}
@keyframes move {
	0%,30% { transform: translateX(0); }
   	40%,70% { transform: translateX(-600px); }
   	80%,100% { transform: translateX(-1200px); }
}